---

---

<!--
<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://docs.netlify.com/frameworks/astro/" class="decoration-dashed text-primary underline-offset-8"> Astro on Netlify </a>
    </p>
</footer>
-->
<footer>
    <p>&copy; 2025 ニコニコ人気動画３</p>
    <ul>
        <li>
            <a href="https://x.com/C2Z2ZIU2KoEWn6X" target="_blank" rel="noopener noreferrer">
                <img width="24" height="24" src="images/x-logo.svg" alt="Twitter" />
            </a>
        </li>
    </ul>
</footer>
