---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    // { linkText: 'Revalidation', href: '/revalidation' },
    // { linkText: 'Image CDN', href: '/image-cdn' },
    // { linkText: 'Edge Function', href: '/edge' },
    // { linkText: 'Blobs', href: '/blobs' }
];
---

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/">
        <!-- <Logo /> -->
        <!-- <image src="images/summer_higasa_couple.png" >-->
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCIhHGYy6BEcFS1LdghWuYtIRDPEVRwKPoUT6TqpiwjArIIA/viewform?usp=dialog"> Contact here</a>
    <script type="text/javascript" src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"></script><script type="text/javascript">
        kofiwidget2.init('Support me on Ko-fi', '#72a4f2', 'F1F31KA1MA');
        kofiwidget2.draw();
    </script>
  
</nav>
